*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}

/* GRID */
.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}

.grid-item{

    min-height: 100px;
    background-color: gainsboro;
}

/* TITOL */
h2{
    border-radius: 20px;
    padding: 20px;
    background-color: #04AA6D;
}    

/* CONTAINER */
.contain{
    padding: 20px;
}

.contain span{
    color: tomato;
}

#conferma{
    margin: 20px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#conferma:hover{
    background-color: #3e8e41
}

#conferma:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#annulla{
    margin: 20px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: tomato;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#annulla:hover{
    background-color:rgb(201, 20, 20);
}